<!DOCTYPE html>
<!--[if IE 8]>      <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>MedStream 2</title>

  <link rel="stylesheet" href="/stylesheets/foundation/normalize.css" />
  <link rel="stylesheet" href="/stylesheets/foundation/foundation.css" />
  <link rel="stylesheet" href="/stylesheets/foundation/offcanvas.css" />
  <link rel="stylesheet" href="/stylesheets/foundation/responsive-tables.css" />
  <link rel="stylesheet" href="/stylesheets/font-awesome.css" />
  <link rel="stylesheet" href="/stylesheets/style2.css" />

</head>
<body ng-app="MedStream">
<!-- START BODY -->

  <!-- START SIDE NAV -->
  <!-- 
  <div id="side-nav" role="complementary">
    <ul class="nav">
      <li><a href="#"><i class="icon-dashboard"></i></a></li>
      <li><a href="#"><i class="icon-search"></i></a></li>
    </ul>
  </div>
  -->
  <!-- END SIDE NAV -->

<nav class='top-bar' id='header' data-topbar>
  <ul class='title-area'>
    <li class='name'>
          <img src='/images/logo_sm.png'></img>
    </li>
  </ul>
  <ul class='left'>
    <li class='name'>
          <h1>Current Activity</h1>
    </li>
  </ul>
</nav>

 
<!-- 
<div id='header'>
  <img src='/images/logo_sm.png'></img>
  <h1>Current Activity</h1>
</div>
-->

  
  <!-- START MAIN SECTION -->
  <div role="main">

    <div class="row">
      <div class="large-12 columns">
        <a href="#side-nav" id="sidebar-link" class="button radius" role="navigation">sidebar<i class="icon-reorder"></i></a>
      </div>
    </div>

    <!-- Main Grid Section -->
<!--
    <div class="row">
      <div class="large-12 columns">
        <div class="panel">
          Keywords: Any tweets from the public stream that have the words 
          <span class="dark-blue label">doctor</span>,
          <span class="yellow label">hospital</span>, or
          <span class="label">patients</span>
        </div>
      </div>
    </div>
  -->




    <div id="refresh-button" class="button right">refresh</div>

    <!-- main row -->
    <div class="row">

      <!-- left column -->
      <div class="large-8 columns">

        <!-- volume chart -->
        <div id="VolumeTimeChartContainer" ng-controller="VolumeTimeChartController">
          <h3 class='medstream'>Tweets per Second</h3>
          <div id="VolumeTimeChart"></div>
        </div>

        <!-- inner columns -->
        <!-- total tweets -->
        <!-- OG <div id="TotalTweetsContainer" class="large-8 columns" ng-controller="TotalTweetsController"> -->
        <div id="TotalTweetsContainer" ng-controller="TotalTweetsController">
          <h3 class='medstream'>Total</h3>

          <div class="large-4 columns" id="totals">
            <div class="total-tweets">
              <h1>{{totalTweets}}</h1>
              <h3>tweets in the database</h3>
              <span class='totaltweets_spacer'></span>
              <h1>{{todaysTweets}}</h1>
              <h3>tweets today</h3>
            </div>
          </div>
            
          <div id="KeywordChartContainer" class="large-8 columns" ng-controller="KeywordChartController">
            <div id="KeywordChart"></div>
          </div>
        </div>


      </div> <!-- end of left column -->
    

      <!-- right column -->
      <!-- current tweets -->
      <div id="FeedContainer" class="large-4 columns" ng-controller="FeedController">
        <h3 class='medstream'>Current Tweets</h3>
        <div class="panel" id='tweet_panel' ng-include="'/templates/FeedTemplate2.html'"></div>
      </div>

      <!-- current facebook posts -->
      <div id="refreshfb-button" class="button right">refresh</div>

      <div id="FbFeedContainer" class="large-4 columns" ng-controller="FacebookFeedController">
        <h3 class='medstream'>Current Facebook Posts</h3>
        <div class="panel" id='tweet_panel' ng-include="'/templates/FacebookFeedTemplate2.html'"></div>
      </div>
      <!-- end right column -->

    </div>
    <!-- EOL main row -->


    <!-- RSS row -->
    <!-- RSS -->
    <div class="row">
      <div id="FeedContainer" class="large-12 columns" ng-controller="RSSPostingController">
        <h3 class="medstream">RSS Feed</h3>
        <div ng-include="'/templates/RSSFeedTemplate2.html'"></div>
    </div> 


    <!-- search row -->
    <div class="row">
      <div id="SearchContainer" class="large-12 columns" ng-controller="SearchController">
        <div class="panel-header" style="height: 73px;">
          <h2 class="left">Search</h2>
          <div id="search-button" class="button right">search</div>
        </div>
        <div class="large-12 columns panel" ng-include="'/templates/SearchTemplate.html'"></div>
      </div>
    </div> 


    <!-- End Grid Section -->
   


    <!-- Footer -->
    <footer class="row">
      <div class="large-12 columns">
        <hr />
        <div class="row">
          <div class="large-6 columns">
          </div>
          <div class="large-6 columns">
            <ul class="inline-list right">
              <li><a href="#">Section 1</a></li>
              <li><a href="#">Section 2</a></li>
              <li><a href="#">Section 3</a></li>
              <li><a href="#">Section 4</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

  </div>
    

<!-- SCRIPTS -->
  <script src="/javascripts/foundation/vendor/custom.modernizr.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/angular/angular.js"></script>
  <!-- 
  <script src="/javascripts/flot/jquery.flot.min.js"></script>
  <script src="/javascripts/flot/jquery.flot.categories.js"></script>
  <script src="/javascripts/flot/jquery.flot.resize.js"></script>
-->
  <script src="/javascripts/highcharts/3.0.6/js/highcharts.js"></script>
  <script src="/javascripts/MedStreamApp2.js"></script>
  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? '/javascripts/foundation/vendor/zepto' : '/javascripts/foundation/vendor/jquery') +
  '.js><\/script>');
  </script>
  <script src="/javascripts/foundation/foundation.min.js"></script>
  <script src="/javascripts/foundation/jquery.offcanvas.js"></script>
  <script src="/javascripts/foundation/responsive-tables.js"></script>

  <script>
    $(document).foundation();
  </script>
<!-- END SCRIPTS -->

<!-- END BODY -->  
</body>
</html>