<!DOCTYPE html>
<!--[if IE 8]>      <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>MedStream</title>

  <link rel="stylesheet" href="/stylesheets/foundation/normalize.css" />
  <link rel="stylesheet" href="/stylesheets/foundation/foundation.css" />
  <link rel="stylesheet" href="/stylesheets/foundation/offcanvas.css" />
  <link rel="stylesheet" href="/stylesheets/foundation/responsive-tables.css" />
  <link rel="stylesheet" href="/stylesheets/font-awesome.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />

</head>
<body ng-app="MedStream">
<!-- START BODY -->

  <!-- START SIDE NAV -->  
  <div id="side-nav" role="complementary">
    <ul class="nav">
      <li><a href="#"><i class="icon-dashboard"></i></a></li>
      <li><a href="#"><i class="icon-search"></i></a></li>
    </ul>
  </div>
  <!-- END SIDE NAV -->

  
  <!-- START MAIN SECTION -->
  <div role="main">

    <div class="row">
      <div class="large-12 columns">
        <a href="#side-nav" id="sidebar-link" class="button radius" role="navigation">sidebar<i class="icon-reorder"></i></a>
      </div>
    </div>

    <!-- Main Grid Section -->
    <div class="row">
      <div class="large-12 columns">
        <div class="panel">
          Keywords: Any tweets from the public stream that have the words 
          <span class="dark-blue label">doctor</span>,
          <span class="yellow label">hospital</span>, or
          <span class="label">patients</span>
        </div>
      </div>
    </div>

    <div class="row">
   
      <div id="FeedContainer" class="large-12 columns" ng-controller="RSSFeedController">
        <div class="panel-header" style="height: 73px;"><h2 class="left">RSS Feed</h2>
        <div class="large-12 columns panel" ng-include="'/templates/RSSFeedTemplate.html'"></div>
      </div>

    </div>  

    <div class="row">
   
      <div id="FeedContainer" class="large-12 columns" ng-controller="FeedController">
        <div class="panel-header" style="height: 73px;"><h2 class="left">Twitter Real Time Feed</h2><div id="refresh-button" class="button right">refresh</div></div>
        <div class="large-12 columns panel" ng-include="'/templates/FeedTemplate.html'"></div>
      </div>

    </div>  

    <div class="row">

      <div id="TotalTweetsContainer" class="large-6 columns" ng-controller="TotalTweetsController">
        <div class="panel-header"><h2>Total</h2></div>
        <div class="panel" ng-include="'/templates/TotalTweetsTemplate.html'"></div>
      </div>

      <div id="KeywordChartContainer" class="large-6 columns" ng-controller="KeywordChartController">
        <div class="panel-header"><h2>Keywords</h2></div>
        <div class="panel">
          <div id="KeywordChart"></div>
        </div>
      </div>

    </div>

    <div class="row">

      <div id="VolumeTimeChartContainer" class="large-12 columns" ng-controller="VolumeTimeChartController">
        <div class="panel-header"><h2>Tweets Per Second</h2></div>
        <div class="panel">
          <div id="VolumeTimeChart"></div>
        </div>
      </div>

    </div>

    <div class="row">
   
      <div id="SearchContainer" class="large-12 columns" ng-controller="SearchController">
        <div class="panel-header" style="height: 73px;">
          <h2 class="left">Search</h2>
          <div id="search-button" class="button right">search</div>
        </div>
        <div class="large-12 columns panel" ng-include="'/templates/SearchTemplate.html'"></div>
      </div>

    </div>  
   
    <!-- End Grid Section -->
   
    <!-- Footer -->
   
    <footer class="row">
      <div class="large-12 columns">
        <hr />
        <div class="row">
          <div class="large-6 columns">
            <p>&copy; Copyright no one at all. Go to town.</p>
          </div>
          <div class="large-6 columns">
            <ul class="inline-list right">
              <li><a href="#">Section 1</a></li>
              <li><a href="#">Section 2</a></li>
              <li><a href="#">Section 3</a></li>
              <li><a href="#">Section 4</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

  </div>
    

<!-- SCRIPTS -->
  <script src="/javascripts/foundation/vendor/custom.modernizr.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/angular/angular.js"></script>
  <script src="/javascripts/flot/jquery.flot.min.js"></script>
  <script src="/javascripts/flot/jquery.flot.categories.js"></script>
  <script src="/javascripts/flot/jquery.flot.resize.js"></script>
  <script src="/javascripts/MedStreamApp.js"></script>
  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? '/javascripts/foundation/vendor/zepto' : '/javascripts/foundation/vendor/jquery') +
  '.js><\/script>');
  </script>
  <script src="/javascripts/foundation/foundation.min.js"></script>
  <script src="/javascripts/foundation/jquery.offcanvas.js"></script>
  <script src="/javascripts/foundation/responsive-tables.js"></script>

  <script>
    $(document).foundation();
  </script>
<!-- END SCRIPTS -->

<!-- END BODY -->  
</body>
</html>