<!DOCTYPE html>
<!--[if IE 8]>      <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>MedStream</title>

  <link rel="stylesheet" href="/stylesheets/foundation/normalize.css" />
  <link rel="stylesheet" href="/stylesheets/foundation/foundation.css" />
</head>
<body ng-app>
<!-- START BODY -->
  <!-- START Header and Nav -->
  <div class="row">
    <div class="large-12 columns">
      <div class="panel">
        <h1>Feed Template</h1>
      </div>
    </div>
  </div>
  <!-- End Header and Nav -->
  <!-- Main Feed -->
  <div class="row">
    <div id="tweets" class="large-12 columns" ng-controller="FeedController">
      <!-- Feed Entry -->
      <div ng-repeat="feed in twitterfeed" class="row">
        <div class="large-2 columns small-3"><img src="http://placehold.it/80x80&text=[img]" /></div>
        <div class="large-10 columns">
          <p>
            <strong>{{feed.user[0].name}}</strong>: {{feed.text}}
          </p>
        </div>
      </div>
      <!-- End Feed Entry -->
    </div>
  </div>
  <!-- End Main Feed -->
  <!-- START FOOTER -->
  <footer class="row">
    <div class="large-12 columns">
      <div class="row">
        <div class="large-5 columns">
          <p>&copy; Copyright no one.</p>
        </div>
        <div class="large-7 columns">
        </div>
      </div>
    </div>
  </footer>
  <!-- END FOOTER -->
  <!-- SCRIPTS -->
  <script src="/javascripts/foundation/vendor/custom.modernizr.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/angular/angular.js"></script>
  <script src="/javascripts/FeedController.js"></script>
  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? '/javascripts/foundation/vendor/zepto' : '/javascripts/foundation/vendor/jquery') +
  '.js><\/script>');
  </script>
  <script src="/javascripts/foundation/foundation.js"></script>
  <script src="js/foundation/foundation.alerts.js"></script>
  <script src="js/foundation/foundation.clearing.js"></script>
  <script src="js/foundation/foundation.cookie.js"></script>
  <script src="js/foundation/foundation.dropdown.js"></script>
  <script src="js/foundation/foundation.forms.js"></script>
  <script src="js/foundation/foundation.joyride.js"></script>
  <script src="js/foundation/foundation.magellan.js"></script>
  <script src="js/foundation/foundation.orbit.js"></script>
  <script src="js/foundation/foundation.placeholder.js"></script>
  <script src="js/foundation/foundation.reveal.js"></script>
  <script src="js/foundation/foundation.section.js"></script>
  <script src="js/foundation/foundation.tooltips.js"></script>
  <script src="js/foundation/foundation.topbar.js"></script>
  <script src="js/foundation/foundation.interchange.js"></script>
  <script>
    $(document).foundation();
  </script>
<!-- END BODY -->  
</body>
</html>