<!DOCTYPE html>
<!--[if IE 8]>      <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>MedStream - Current Activity</title>

  <link rel="stylesheet" href="/stylesheets/foundation/normalize.css" />
  <link rel="stylesheet" href="/stylesheets/foundation/foundation.css" />
  <link rel="stylesheet" href="/stylesheets/foundation/offcanvas.css" />
  <link rel="stylesheet" href="/stylesheets/foundation/responsive-tables.css" />
  <link rel="stylesheet" href="/stylesheets/font-awesome.css" />
  <link rel="stylesheet" href="/stylesheets/style2.css" />

</head>
<body ng-app="MedStream">
<!-- START BODY -->

  <!-- START SIDE NAV -->
  <!-- 
  <div id="side-nav" role="complementary">
    <ul class="nav">
      <li><a href="#"><i class="icon-dashboard"></i></a></li>
      <li><a href="#"><i class="icon-search"></i></a></li>
    </ul>
  </div>
  -->
  <!-- END SIDE NAV -->

<nav class='top-bar' id='header' data-topbar>
  <ul class='title-area'>
    <li class='name'>
          <img src='/images/logo_sm.png'></img>
    </li>
  </ul>
  <ul class='left'>
    <li class='name'>
          <h1>Current Activity</h1>
    </li>
  </ul>
</nav>

  
  <!-- START MAIN SECTION -->
  <div role="main" id="main">

    <div id="refresh-button" class="button right">refresh</div>

    <!-- main row -->
    <div class="row">

      <!-- left column -->
      <div class="large-8 columns">

        <!-- volume chart -->
        <div id="VolumeTimeChartContainer" ng-controller="VolumeTimeChartController">
          <h3 class='medstream'>Tweets per Second</h3>
          <div id="VolumeTimeChart"></div>
        </div>

        <!-- total tweets -->
        <h3 class='medstream'>Totals by Keyword</h3>
        <div id="KeywordChartContainer" ng-controller="KeywordChartController">  
          <div id="KeywordChart"></div>
        </div>

        <div id="TotalTweetsContainer" ng-controller="TotalsController">
          <h3 class='medstream'>Social Media Totals</h3>
          <table id="post_totals">
            <tr>
              <th>&nbsp;</th>
              <th>Twitter</th>
              <th>Facebook</th>
              <th>RSS</th>
            </tr>
            <tr class="totals_today">
              <th>Today</th>
              <td>{{todaysTweets}}</td>
              <td>{{todaysFacebook}}</td>
              <td>{{todaysRSS}}</td>
            </tr>
            <tr class="totals_overall">
              <th>Overall</th>
              <td>{{totalTweets}}</td>
              <td>{{totalFacebook}}</td>
              <td>{{totalRSS}}</td>
            </tr>
          </table>
        </div>

      </div>
      <!-- end of left column -->
    

      <!-- right column -->
      <!-- all media  -->
      <div id="FeedContainer" class="large-4 columns" ng-controller="AllMediaController">
        <h3 class='medstream'>Recent Posts</h3>
        <div class="panel" id='tweet_panel' ng-include="'/templates/AllMediaTemplate.html'"></div>
      </div>
    </div> 

    </div>
    <!-- EOL main row -->

    <!-- search row -->
    <div class="row">
      <div id="SearchContainer" class="large-12 columns" ng-controller="SearchController">
        <div class="panel-header" style="height: 73px;">
          <h2 class="left">Search</h2>
          <div id="search-button" class="button right">search</div>
        </div>
        <div class="large-12 columns panel" ng-include="'/templates/SearchTemplate.html'"></div>
      </div>
    </div> 


    <!-- End Grid Section -->
   


    <!-- Footer -->
    <!-- 
    <footer class="row">
      <div class="large-12 columns">
        <hr />
        <div class="row">
          <div class="large-6 columns">
          </div>
          <div class="large-6 columns">
            <ul class="inline-list right">
              <li><a href="#">Section 1</a></li>
              <li><a href="#">Section 2</a></li>
              <li><a href="#">Section 3</a></li>
              <li><a href="#">Section 4</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    -->

  </div>
    

<!-- SCRIPTS -->
  <script src="/javascripts/foundation/vendor/custom.modernizr.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/angular/angular.js"></script>
  <script src="/javascripts/highcharts/3.0.6/js/highcharts.js"></script>
  <script src="/javascripts/MedStreamApp2.js"></script>
  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? '/javascripts/foundation/vendor/zepto' : '/javascripts/foundation/vendor/jquery') +
  '.js><\/script>');
  </script>
  <script src="/javascripts/foundation/foundation.min.js"></script>
  <script src="/javascripts/foundation/jquery.offcanvas.js"></script>
  <script src="/javascripts/foundation/responsive-tables.js"></script>
  <script>
    $(document).foundation();
  </script>
  
<!-- END SCRIPTS -->

<!-- END BODY -->  
</body>
</html>