<form>
  <div class="row">
    <div class="small-8">
      <div class="row">
        <div class="small-3 columns">
          <label for="right-label" class="right inline">Search</label>
        </div>
        <div class="small-9 columns">
          <input type="text" id="right-label">
        </div>
      </div>
    </div>
  </div>
</form>

<div ng-if="searchresults.length > 0">
	<table class="responsive">
		<thead>
			<td><h6>User Name</h6></td>
			<td><h6>Screen Name</h6></td>
			<td><h6>Text</h6></td>
			<td><h6>Sentiment</h6></td>
			<td><h6>Keywords</h6></td>
			<td><h6>User Location</h6></td>
			<td><h6>Created At</h6></td>
		</thead>
		<tbody>
			<tr class="search-results" ng-repeat="result in searchresults | reverse" ng-class="{'positive': result.obj.polarity == 4, 'negative': result.obj.polarity == 0}">
				<td>{{result.obj.user[0].name}}</td>
				<td>
					<div ng-show="result.obj.source != 'facebook'">@{{result.obj.user[0].screen_name}}</div>
				</td>
				<td>
					<div ng-show="result.obj.source != 'facebook'">{{result.obj.text}}</div>
					<div ng-show="result.obj.source == 'facebook'">
						<p ng-hide="display">{{result.obj.title}}...</p>
						<p ng-show="display">{{result.obj.text}}</p>
						<a ng-hide="display" ng-click="display = !display">Show more</a>
						<a ng-show="display" ng-click="display = !display">Show less</a>
					</div>	
				</td>
				
				<td class="text-center"><span ng-bind="{4 : 'positive', 2 : 'neutral',  0 : 'negative'}[result.obj.polarity]"></span></td>
				
				<td><span ng-repeat="keyword in result.obj.keywords" ng-class="{'dark-blue label': keyword == 'doctor', 'yellow label': keyword == 'hospital', 'violet label': keyword == 'victim', 'label': keyword == 'patients'}">{{keyword}}</span></td>
				<td>{{result.obj.user[0].location}}</td>
				<td>{{result.obj.created_at | date: 'M/d/yyyy  h:mma'}}</td>
			</tr>
		</tbody>
	</table>
</div>
<div ng-if="searchresults.length <= 0 && searchWord.length > 0">
	<h3>No posts found matching: {{searchWord}}</h3>
	<p>Please check the spelling of the words you used to search.</p>
</div>