/*								  		 *
*  === MedStream Application Styles ===  *
*								 		*/

/*------  General Styles  -------*/
h2 {
	font-size: 25px;
}
hr {
	margin: 0;
}
.row {
	max-width: 1600px;
}
.row .row {
	margin-right: auto;
	margin-left: auto;
}
.panel-header {
	padding: 10px 20px;
	margin: 0;
	border: 1px solid #d9d9d9;
	border-bottom: none;	
}

/*------  Side Navigation Styles  -------*/
#side-nav{
	position: fixed;
	max-width: 90px;
	min-width: 75px;
	height: 100%;
	background-color: #2e3641;

	cursor: pointer;
}
#side-nav ul.nav li{
	min-height: 50px;
	max-height: 90px;
	padding: 10px;
	background-size: 100%;
	background-repeat: no-repeat;

	font-size: 20px;
	text-align: center;
}
#side-nav ul.nav li:hover{
	opacity: .75;
}

/*------  Search Overlay  -------*/


/*------  Button For Navigation Styles  -------*/
#sidebar-link{
	margin: 10px 0px;
}
#sidebar-link i{
	margin-left: 10px;
}
/*------  Feed Styles  -------*/
/*** Feed Panel ***/
#FeedContainer .panel{
	max-height: 600px;
	overflow: auto;
}

/*** Tweets ***/


/*------  Total Tweets Styles  -------*/
/*** Total Tweet Panel ***/
.total-tweets{
	max-height: 275px;
}
.total-tweets h3{
	padding-top: 15px;
}

/*------  Keyword Chart Styles  -------*/
#KeywordChart {
	height: 275px;
}

/*------  Volume Time Chart Styles  -------*/
#VolumeTimeChart {
	height: 325px;
}

/*------  Volume Time Chart Styles  -------*/
.sentiment {
	float: left;
	width: 0%;
	height: 50px;
}

/*------  MISC  -------*/
.dark-blue {
	background-color: #011D7C !important;
}
.yellow {
	background-color: #FED852 !important;
}

.grey {
	background-color: #7e7e7e !important;
}

.label {
	background-color: #2ba8e2;
}

.keyword {
	font-weight: bold;
}
.positive {
	background-color: green !important;
}
.negative {
	background-color: red !important;
}

.pos {
	background-color: lightgreen;
}
.neu {
	background-color: lightgrey;
}
.neg {
	background-color: FireBrick;
}
