.container h2 {
	padding: 10px 20px;
	margin: 0;
	border: 1px solid #d9d9d9;
	border-bottom: none;	
}

/*------  Feed Styles  -------*/
/*** Feed Panel ***/
#FeedContainer .panel{
	max-height: 600px;
	overflow: auto;
}

/*** Tweets ***/
#FeedContainer .tweet{
	padding: 10px 0;
	margin: 5px 0;

	border-bottom: 1px solid #d9d9d9;
}
#FeedContainer .tweet h6{
	margin-right: 10px;
	line-height: 0;
}
#FeedContainer p {
	padding: 5px 0;
	margin-bottom: 0px;
}

/*------  Total Tweets Styles  -------*/
/*** Total Tweet Panel ***/


/*------  Keyword Chart Styles  -------*/
#KeywordChart {
	width: 100%;
	height: 300px;
}


/*------  MISC  -------*/
.dark-blue {
	background-color: #011D7C;
}
.yellow {
	background-color: #FED852;
}

.keyword {
	font-weight: bold;
};