/*								  		 *
*  === MedStream Application Styles ===  *
*								 		*/

/*------  General Styles  -------*/
h2 {
	font-size: 25px;
}
hr {
	margin: 0;
}
.title-area{
	text-align: center;
}
.title-area .name{
	padding-top: 40px;
}
.title-area h4{
	padding-top: 40px;
}
.row {
	max-width: 1600px;
}
.panel-header {
	padding: 10px 20px;
	margin: 0;
	border: 1px solid #d9d9d9;
	border-bottom: none;	
}

/*------  Side Navigation Styles  -------*/
#side-nav{
	position: fixed;
	max-width: 90px;
	min-width: 75px;
	height: 100%;
	background-color: #2e3641;

	cursor: pointer;
}
#side-nav ul.nav li{
	min-height: 50px;
	max-height: 90px;
	padding: 10px;
	background-size: 100%;
	background-repeat: no-repeat;

	font-size: 20px;
	text-align: center;
}
#side-nav ul.nav li:hover{
	opacity: .75;
}

/*------  Search Overlay  -------*/


/*------  Button For Navigation Styles  -------*/
#sidebar-link{
	margin: 10px 0px;
}
#sidebar-link i{
	margin-left: 10px;
}
/*------  Feed Styles  -------*/
/*** Feed Panel ***/
#FeedContainer .panel{
	max-height: 600px;
	overflow: auto;
	-webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

/*** Tweets ***/


/*------  Total Tweets Styles  -------*/
/*** Total Tweet Panel ***/
/*
.total-tweets{
	max-height: 275px;
}
.total-tweets h3{
	padding-top: 15px;
}
*/

/*------  Keyword Chart Styles  -------*/
#KeywordChart, #SentimentChart, #SourceChart {
	height: 275px;
	-webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

/*------  Volume Time Chart Styles  -------*/
#VolumeTimeChart {
	height: 325px;
	-webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

/*------  MISC  -------*/
.dark-blue {
	/* background-color: #011D7C; */
	background-color: #575adc !important;
}
.yellow {
	/* background-color: #FED852; */
	background-color: #e35f24 !important;
}

.label {
	background-color: #2ba8e2;
}


.keyword {
	font-weight: bold;
}
.positive {
	background-color: #d8f9dc !important;
}
.negative {
	background-color: #f9e1d9 !important;
}





h3.medstream, h4.medstream {
    color: #6C6C7D;
    font-weight: normal;
    margin: 1em 0 !important;
}

h4.medstream {
    color: #6C6C7D;
    font-weight: normal;
	margin: 0.25em 0 0.5em 0 !important;
    font-size: 12pt;
}

.total-tweets h1 {
	color: #767686;
	margin: 0;
	font-size: 26pt;
}

.total-tweets h3 {
	font-weight: normal;
	font-size: 12pt;
	margin: 0 0 1em 0;
	color: #9696aa;
}


.totaltweets_spacer {
	display: block;
    height: 2em;
}

#tweet_panel {
	padding: 0 !important;
	background-color: #fcfcfc;
}

ul.medstream {
	list-style: none outside none;
}

ul.medstream li {
    padding: 0.5em 0.75em;
	border-bottom: 1px solid #CCCCCC;
}

ul.medstream li h1 {
    color: #6C6C7D;
    font-size: 12pt;
    margin: 0 0 0.25em;	
}

ul.medstream li p {
   color: #6C6C7D;
    font-size: 10pt;
    line-height: 14pt;
}

ul#rss_feed a {
	color: #767686;
	font-size: 14pt;
}

ul#rss_feed li {
	padding: 0 0 0.75em 0;
}

#totals {
	padding: 0;
}

#TotalTweetsContainer {
	margin-top: 2em;
}

#FeedContainer h3 {
	margin-bottom: 0.5em;
}



#header {
	background-color: #25252B !important;
    height: 5em;
    padding: 0.25em 0 0 0.25em;
}

#header h1 {
    color: #FFFFFF;
    font-size: 24pt;
    font-weight: normal;
    margin-left: 1em;
    margin-top: 0.25em
}


#post_totals {
	width: 100%;
}

.totals_today td {
    color: #767686;
    font-size: 26pt;
    margin: 0;
    font-weight: bold;
}

.totals_overall td {
    color: #767686;
    font-size: 18pt;
    margin: 0;
    font-weight: bold;
}


#main {
    margin: 0 25px !important;
    width: 95% !important; 
    float: none !important;
}

.feed_filter.selected {
	background-color: gray;
}


.media_total {
	color: #fff;
	font-size: 14pt;
	background-color: #535665;
	-webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.media_total .totals_text {
    display: block;
    padding: 0.75em 0;
    margin-left: 1em;
}


.media_total.twitter .totals_text,
.media_total.facebook .totals_text,
.media_total.rss .totals_text {
    display: block;
    padding: 0.75em 0;
    margin-left: 4em;
}

.media_total p {
	margin: 0;
}

.media_total p.title {
	font-size: 16pt;
}

.media_total p.today {
	font-weight: bold;
	font-size: 26pt;
}

.media_total p.all {
	font-size: 22pt;
}


.media_total p.all, .media_total p.today {
	display: inline-block;
}

.media_total.twitter p.all, .media_total.twitter p.today,
.media_total.facebook p.all, .media_total.facebook p.today,
.media_total.rss p.all, .media_total.rss p.today {
	width: 108px;
	height: auto;
}

.media_total em {
    color: #EEEEEE;
    display: inline-block;
    font-size: 14pt;
    font-style: normal;
    font-weight: normal;
}

/* create one-off for media totals */
.media_total.twitter em,
.media_total.facebook em,
.media_total.rss em {
    width: 50px;
}



.media_total .icon {
	background-repeat: no-repeat;
	display: block;
	width: 64px;
	height: 128px;
	float: left;
}

.media_total.twitter {
	background-color: #3cf;
}
.media_total.twitter .icon {
	background-image: url('../images/icon_64_twitter_bird.png');
}

.media_total.facebook {
	background-color: #3b5998;
}
.media_total.facebook .icon {
	background-image: url('../images/icon_64_facebook.png');
}

.media_total.rss {
	background-color: #e4713e;
}
.media_total.rss .icon {
	background-image: url('../images/icon_64_rss.png');
}

.media_total.reddit {
	background-color: #CCCCFF;
	min-height: 200px
}
.media_total.reddit .icon {
	background-image: url('../images/icon_64_reddit.png');
}


/* current media */
.currentMedia p.username {
    color: #888888;
    margin: -1em 0 1em;
}


/* search table */
tr.search-results {
    border-bottom: 1px solid #CCCCCC;.
}

tr.search-results td {
    color: #666666 !important;
    line-height: 15pt;
    vertical-align: top;
}

.hide_me {
	display: none;
}



/* img icon */
img.icon_img {
	position:  relative;
	top: 0;
	left: 0;
	float: left;
}